body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(238, 237, 237, 0.438);
    color: rgb(105, 104, 104);
    font-family: sans-serif;
}
.container
{
    width: fit-content;
}
.card{
    padding: 1.2rem 3rem 1rem 3rem;
    margin: 1rem;
    border-radius: 1.5rem;
    border-color: rgba(238, 237, 237, 0.438);
    box-shadow: 5px 8px 10px #80808033;
}

.card-2 .row{
    justify-content: center;
}
@media(max-width:1400px){
    .card-2 .row{
        justify-content: left;
    }
}

@media(max-width:767px){
    .card{
        /* height: 10rem; */
        padding: 1.5rem 1.5rem 1rem 1.5rem;
    }
}
.carousel-indicators li {
    width: 5px;
    height: 6px;
    border-radius: 100%;
    opacity: 0.2;
    background-color: #000000;
}
.carousel-indicators{
    margin-bottom: 0;
}
.importnatText{
    font-size: 4rem;
    color: rgb(57, 57, 58);
}
.normalText{
    font-size: 1.4rem;
    color: rgb(57, 57, 58);
}
.cardsText{
    font-size: 1.4rem;
    color: rgb(57, 57, 58);
    position:static;
}
.card-1{
    background: linear-gradient(to right, #ffffff 50%, rgba(241, 224, 190, 0.507));
}
@media(max-width:1000px){
    .importnatText{
        font-size: 2rem;
    }
    .normalText{
        font-size: 1.3rem;
    }
    .cardsText{
        font-size: 1rem;
        color: rgb(57, 57, 58);
    }
}
@media(max-width:767px)
{
    .importnatText{
        font-size: 1.5rem;
    }
    .normalText{
        font-size: 1rem;
    }
    .cardsText{
        font-size: 1.5rem;
        color: rgb(57, 57, 58);
    }
}
.img-fluid{
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.txt-fluid{
    font-size: 1.4rem;
    color: rgb(57, 57, 58);
    margin-top: 0.6rem;
    text-align: center;
}
#hourCard{
    font-size: 1rem;
    margin-right: 5px;
}
#hourCard:last-of-type{
    margin-right: 0px;
}
.row2 .img-fluid{
    margin: 10% 0;
    width: 40%;
}

.card-3 .row{
    justify-content: center;
}
.row1{
    font-size: 0.7rem;
    font-weight: bold;
    color: black;
}
.row3{
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
}
@media(max-width:400px)
{
    .row3{
        font-size: 0.7rem;
        font-weight: bold;
        color: black;
    }
}
@media(max-width:320px)
{
    .row3{
        font-size: 0.6rem;
        font-weight: bold;
        color: black;
    }
}
.row4{
    font-size: 0.6rem;
    color: rgb(196, 196, 196);
    margin: 5% 0 2.5rem;
}
.card-3 .row3{
    margin: 5% 0 2.5rem;
}
.col{
    overflow: visible;
}
.row{
    overflow: visible;
}